<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777354820268-4po90lnj7uoe53ns1kd8ogci4fjh8lue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777354820268-4po90lnj7uoe53ns1kd8ogci4fjh8lue</string>
	<key>API_KEY</key>
	<string>AIzaSyAdTeWAQ6rZj2hP4tnPgDHDGS5z11IwoDE</string>
	<key>GCM_SENDER_ID</key>
	<string>777354820268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>backfront.PrimeiroAppMVVM</string>
	<key>PROJECT_ID</key>
	<string>primeiroappmvvm-cf83f</string>
	<key>STORAGE_BUCKET</key>
	<string>primeiroappmvvm-cf83f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777354820268:ios:b3851e3f18d4304316bd09</string>
</dict>
</plist>